table {
  @include theme('light') {
    background-color: theme-props('primary', 'background');
    border-color: theme-props('secondary', 'border');
  }
}

th {
  @include theme('light') {
    color: theme-props('accent', 'text-reversed');
    background-color: theme-props('accent', 'background');
  }

  & + th {
    @include theme('light') {
      border-left-color: theme-props('primary', 'border');
    }
  }
}

td {
  @include theme('light') {
    border-top-color: theme-props('secondary', 'border');
  }

  @include respond-to('dark', $color-scheme) {
    @include theme('dark') {
      color: theme-props('primary', 'text-reversed');
    }
  }
}

td + td {
  @include theme('light') {
    border-left-color: theme-props('secondary', 'border');
  }
}

tbody {
  tr:nth-child(even) {
    @include theme('light') {
      background-color: theme-props('secondary', 'background');
    }
  }
}

col:nth-child(even) {
  @include theme('light') {
    background-color: theme-props('secondary', 'background');
  }
}
