@import 'module';

p,
dl,
ul,
ol,
pre,
figure,
figcaption,
blockquote,
hr {
  @include interpolate(
    margin-bottom,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max)
  );
}

p,
dl,
ul,
ol,
pre,
figure,
figcaption,
blockquote {
  margin-top: 0;
}

blockquote {
  @include interpolate(
    margin-left margin-right,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max)
  );
}

dt {
  font-weight: $bold-font-weight;
}

dd {
  @include interpolate(
    margin-left,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max)
  );
}

figure {
  @include interpolate(
    margin-left margin-right,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max)
  );

  & > :last-child {
    margin-bottom: 0;
  }
}

pre,
img + figcaption,
p + figcaption {
  @extend small;
}

hr {
  border-top: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
}

ul,
ol {
  @include interpolate(
    padding-left,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    2
  );
}

li > ul,
li > ol {
  @include interpolate(
    padding-left,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    1
  );

  margin-bottom: 0;
}

@import 'theme';
