@mixin range-input-track() {
  @include interpolate(
    height,
    $min-screen,
    $max-screen,
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    0.25
  );
  border-radius: $border-radius;
  appearance: none;
}

@mixin range-input-thumb() {
  @include interpolate(
    width height
    $min-screen,
    $max-screen,
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    1
  );
  position: relative;
  border: none;
  border-radius: 100%;
  appearance: none;

  @include interpolate(
    top,
    $min-screen,
    $max-screen,
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    -0.375
  );
}
