@import 'module';

button {

  @extend %solid-1px-border;

  @include interpolate(
    padding-left padding-right,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    1
  );
  @include interpolate(
    height,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    2
  );
  display: inline-block;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: inherit;

  font-size: inherit;
  cursor: pointer;
  appearance: none;
}

label {
  display: block;
}

input {

  @extend %solid-1px-border;

  @include interpolate(
    padding-left padding-right,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    1
  );

  @include interpolate(
    height,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    2
  );
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;

  label > & {
    display: inline-block;
    width: auto;
  }
}

[type='radio'],
[type='checkbox'] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
  vertical-align: middle;
  border: none;

  & + label {
    display: inline-block;
  }
}

[type='color'] {

  @include interpolate(
    height width,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    2
  );
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  background: transparent;
  border: none;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
  }

  &::-moz-color-swatch {
    border: none;
  }

  & + label {
    display: inline-block;
  }
}

[type='file'] {
  width: auto;
  max-width: 100%;
  height: auto;
  padding: 0;
  border: none;
}

[type='range'] {
  @include interpolate(
    height,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max)
  );

  padding: 0;
  background: transparent;
  border: none;
  appearance: none;

  /*
    range inputs are weird across browsers. can't combine selectors like

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {}

    so we can't use scss placeholders
    instead we use mixins and separate rules
  */

  /* stylelint-disable-next-line no-descending-specificity */
  &::-webkit-slider-thumb {
    @include range-input-thumb();
  }

  // /* stylelint-disable-next-line no-descending-specificity */
  &::-webkit-slider-runnable-track {
    @include range-input-track();
  }

  // /* stylelint-disable-next-line no-descending-specificity */
  &::-moz-range-thumb {
    @include range-input-thumb();
  }

  // /* stylelint-disable-next-line no-descending-specificity */
  &::-moz-range-track {
    @include range-input-track();
  }

  // /* stylelint-disable-next-line no-descending-specificity */
  &::-moz-range-progress {
    @include interpolate(
      height,
      map-get($breakpoints, sm),
      map-get($breakpoints, xlg),
      map-get($base-line-height, min),
      map-get($base-line-height, max),
      0.25
    );

    appearance: none;
  }
}

[type='reset'],
[type='submit'],
[type='button'] {
  display: inline-block;
  width: auto;
  cursor: pointer;
  appearance: none;
}

fieldset {

  @extend %solid-1px-border;

  @include interpolate(
    padding,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    1
  );
  @include interpolate(
    margin-bottom,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    1
  );
  margin: 0;
}

legend {
  display: block;
}

form {

  @include interpolate(
    margin-bottom,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    1
  );
  display: block;

  & > :last-child {
    margin-bottom: 0;
  }
}

select {

  @extend %solid-1px-border;

  @extend small;

  @include interpolate(
    height,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    1
  );
  width: 100%;

  &[multiple] {
    @include interpolate(
      padding-left padding-right padding-top,
      map-get($breakpoints, sm),
      map-get($breakpoints, xlg),
      map-get($base-line-height, min),
      map-get($base-line-height, max),
      0.5
    );
    @include interpolate(
      height,
      map-get($breakpoints, sm),
      map-get($breakpoints, xlg),
      map-get($base-line-height, min),
      map-get($base-line-height, max),
      6
    );

    &[size] {
      height: auto;
    }
  }
}

textarea {
  @extend %solid-1px-border;
  @include interpolate(
    height,
    map-get($breakpoints, xlg),
    map-get($breakpoints, sm),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    4
  );
  @include interpolate(
    padding,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    0.5
  );
  width: 100%;
  resize: vertical;



  &[rows] {
    height: auto;
  }

  &[cols] {
    width: auto;
    resize: both;
  }
}

@import 'theme';
