@import 'module';

legend,
label {
  @include theme('light', $font-theme) {
    font-weight: theme-props('body', 'bold');
  }
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
  @include theme('light') {
    background-color: theme-props('primary', 'background');
    border-color: theme-props('primary', 'border');
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: none;
  }

  &:hover {
    @include theme('light') {
      color: theme-props('hover', 'text');
      background-color: theme-props('hover', 'background');
    }
  }

  &:active {
    @include theme('light') {
      color: theme-props('active', 'text');
      background-color: theme-props('active', 'background');
      border-color: theme-props('active', 'border');
    }
  }

  &:focus {
    outline: none;

    @include theme('light') {
      border: 2px dashed theme-props('focus', 'outline');
    }

    &:active {
      @include theme('light') {
        border: 2px dashed theme-props('primary', 'outline');
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;

    @include theme('light') {
      color: theme-props('disabled', 'text');
      background-color: theme-props('disabled', 'background');
      border-color: theme-props('disabled', 'border');
    }
  }
}

fieldset {
  @include theme('light') {
    border-color: theme-props('primary', 'border');
  }

  &[disabled] {
    cursor: not-allowed;

    @include theme('light') {
      color: theme-props('disabled', 'text');
      background-color: theme-props('disabled', 'background');
      border-color: theme-props('disabled', 'border');
    }
  }
}

[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"] {
  @include theme('light') {
    background-color: theme-props('primary', 'background');
    border-color: theme-props('primary', 'border');
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: none;
  }

  &:focus {
    outline: none;

    @include theme('light') {
      border: 2px dashed theme-props('focus', 'outline');
    }
  }
}

[type="checkbox"] {
  &:focus {
    @include theme('light') {
      outline: 2px dashed theme-props('focus', 'outline');
    }
  }
}

[type="file"],
[type="color"] {
  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: none;
  }

  &:focus {
    outline: none;

    @include theme('light') {
      border: 2px dashed theme-props('focus', 'outline');
    }
  }
}

select {
  @include theme('light') {
    background-color: theme-props('primary', 'background');
  }

  &:focus {
    outline: none;

    @include theme('light') {
      border: 2px dashed theme-props('focus', 'outline');
    }
  }
}

textarea {
  @include theme('light') {
    background-color: theme-props('primary', 'background');
  }

  &:focus {
    outline: none;

    @include theme('light') {
      border: 2px dashed theme-props('focus', 'outline');
    }
  }

  &[disabled] {
    cursor: not-allowed;

    @include theme('light') {
      color: theme-props('disabled', 'text');
      background-color: theme-props('disabled', 'background');
      border-color: theme-props('disabled', 'border');
    }
  }
}

[type="range"] {
  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: none;
  }

  &:focus {
    outline: none;

    @include theme('light') {
      border: 2px dashed theme-props('focus', 'outline');
    }
  }

  &::-webkit-slider-thumb {
    @include theme('light') {
      background-color: theme-props('primary', 'background');
      box-shadow: 1px 1px 3px rgba(theme-props('primary', 'shadow'), 0.5);
    }
  }

  // /* stylelint-disable-next-line no-descending-specificity */
  &::-webkit-slider-runnable-track {
    @include theme('light') {
      background-color: theme-props('accent', 'background');
    }
  }

  // /* stylelint-disable-next-line no-descending-specificity */
  &::-moz-range-thumb {
    @include theme('light') {
      background-color: theme-props('primary', 'background');
      box-shadow: 1px 1px 3px rgba(theme-props('primary', 'shadow'), 0.5);
    }
  }

  // /* stylelint-disable-next-line no-descending-specificity */
  &::-moz-range-track {
    @include theme('light') {
      background-color: theme-props('accent', 'background');
    }
  }

  // /* stylelint-disable-next-line no-descending-specificity */
  &::-moz-range-progress {
    @include theme('light') {
      background-color: theme-props('accent', 'background');
    }
  }
}
