@import 'util/media-query/module';
@import 'util/typography/module';

.has-baseline-grid {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-repeat: repeat;
  background-position: left top;
  background-size: 100% map-get($base-line-height, min);

  @media screen and (min-width: $min-screen) {
    background-size:
      100% calc-interpolation(
        $min-screen,
        map-get($base-line-height, min),
        $max-screen,
        map-get($base-line-height, max),
      );
  }

  @media screen and (min-width: $max-screen) {
    background-size: 100% map-get($base-line-height, max);
  }
}
