// Block Text Elements
dt {
  @include theme('light', $font-theme) {
    font-weight: theme-props('body', 'bold');
  }
}



// Inline Text Elements

a {
  &:link,
  &:visited {
    @include theme('light') {
      color: theme-props('accent', 'text');
    }
  }

  &:focus {
    @include theme('light') {
      outline: 2px dashed theme-props('focus', 'outline');
    }
  }

  @include respond-to('dark', $color-scheme) {
    &:hover {
      @include theme('dark') {
        color: theme-props('hover', 'text');
      }
    }
  }
}

b,
strong,
time,
var {
  @include theme('light', $font-theme) {
    font-weight: theme-props('body', 'bold');
  }
}

var {
  @include theme('light', $font-theme) {
    font-family: theme-props('code', 'family');
  }
}

u {
  @include theme('light') {
    text-decoration-color: theme-props('accent', 'text');
  }
}
