@import 'module';

summary {
  @include interpolate(
    height,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    2
  );
  @include interpolate(
    padding,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    0.5
  );
  @include interpolate(
    margin-left margin-right,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    -0.5
  );
}

details {
  @extend %solid-1px-border;

  @include interpolate(
    padding-left padding-right,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max),
    0.5
  );

  &[open] {
    @include interpolate(
      padding-bottom,
      map-get($breakpoints, sm),
      map-get($breakpoints, xlg),
      map-get($base-line-height, min),
      map-get($base-line-height, max),
      0.5
    );

    & > summary {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: initial;

      @include interpolate(
        margin-bottom,
        map-get($breakpoints, sm),
        map-get($breakpoints, xlg),
        map-get($base-line-height, min),
        map-get($base-line-height, max),
        0.5
      );
    }
  }

  & + details {
    border-top: none;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

@import 'states';
