<p><code><strong>&lt;a&gt;</strong></code></p>

<ul>
  <li><a href="https://example.com">Website</a></li>
  <li><a href="mailto:m.bluth@example.com">Email</a></li>
  <li><a href="tel:+123456789">Phone</a></li>
</ul>

<p><code><strong>&lt;a&gt;</strong></code> around an image</p>

<p>
  <a href="#">
    <img src="http://fpoimg.com/300x210?text=Preview" alt="A preview image">
  </a>
</p>

<p><code><strong>&lt;abbr&gt;</strong></code></p>

<p>You can use <abbr title="Cascading Style Sheets">CSS</abbr> to style your <abbr title="HyperText Markup Language">HTML</abbr>.</p>

<p><code><strong>&lt;abbr&gt;</strong></code> defining an abbreviation with <code><strong>&lt;dfn&gt;</strong></code></p>

<p><dfn id="html"><abbr title="HyperText Markup Language">HTML</abbr>
</dfn> is a markup language used to create the semantics and structure
of a web page.</p>


<p><code><strong>&lt;b&gt;</strong></code></p>

<p>The two most popular science courses offered by the school are <b class="term">chemistry</b> (the study of chemicals and the composition of substances) and <b class="term">physics</b> (the study of the nature and properties of matter and energy).</p>

<p><code><strong>&lt;cite&gt;</strong></code></p>

<p>More information can be found in <cite>[ISO-0000]</cite>.</p>

<p><code><strong>&lt;code&gt;</strong></code></p>

<p>The <code>push()</code> method adds one or more elements to the end of an array and returns the new length of the array.</p>

<p><code><strong>&lt;dfn&gt;</strong></code></p>

<p>A <dfn>validator</dfn> is a program that checks for syntax errors in code or documents.</p>

<p><code><strong>&lt;em&gt;</strong></code></p>

<p>We <em>had</em> to do something about it.</p>

<p><code><strong>&lt;i&gt;</strong></code></p>

<p>I looked at it and thought <i>This can't be real!</i></p>

<p><code><strong>&lt;kbd&gt;</strong></code></p>

<p>Please press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd> to re-render an MDN page.</p>

<p><code><strong>&lt;mark&gt;</strong></code></p>

<p>Several species of <mark>salamander</mark> inhabit the temperate rainforest of the Pacific Northwest.</p>

<p><code><strong>&lt;q&gt;</strong></code></p>

<p>When Dave asks HAL to open the pod bay door, HAL answers: <q cite="https://www.imdb.com/title/tt0062622/quotes/qt0396921">I'm sorry, Dave. I'm afraid I can't do that.</q></p>

<p><code><strong>&lt;s&gt;</strong></code></p>

<p><s>There will be a few tickets available at the box office tonight.</s></p>

<p><code><strong>&lt;samp&gt;</strong></code></p>

<p><samp>Keyboard not found <br>Press F1 to continue</samp></p>

<p><code><strong>&lt;small&gt;</strong></code></p>

<p><small>The content is licensed under a Creative Commons Attribution-ShareAlike 2.5 Generic License.</small></p>

<p><code><strong>&lt;sub&gt;</strong></code></p>

<p>Almost every developer's favorite molecule is
  C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub>, also known as "caffeine."</p>

<p><code><strong>&lt;sup&gt;</strong></code></p>

<p>Robert a présenté son rapport à M<sup>lle</sup> Bernard.</p>
<p>English: 5<sup>th</sup></p>

<p><code><strong>&lt;time&gt;</strong></code></p>

<p>The concert starts at <time datetime="2018-07-07T20:00:00">20:00 </time>.</p>
<p>The concert took place on <time datetime="2001-05-15T19:00">May 15</time>.</p>


<p><code><strong>&lt;u&gt;</strong></code></p>

<p>You could use this element to highlight <u>speling</u> mistakes, so the writer can <u>corect</u> them.</p>


<p><code><strong>&lt;var&gt;</strong></code></p>

<p>The volume of a box is <var>l</var> × <var>w</var> × <var>h</var>, where <var>l</var> represents the length, <var>w</var> the width and <var>h</var> the height of the box.</p>
