<p><code><strong>&lt;blockquote&gt;</strong></code> </p>

<blockquote cite="https://www.huxley.net/bnw/four.html">
  <p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
  <footer>—Aldous Huxley, <cite>Brave New World</cite></footer>
</blockquote>

<p><code><strong>&lt;dd&gt; &lt;dl&gt; &lt;dt&gt;</strong></code></p>

<dl>
  <dt>Beast of Bodmin</dt>
  <dd>A large feline inhabiting Bodmin Moor.</dd>

  <dt>Morgawr</dt>
  <dd>A sea serpent.</dd>

  <dt>Owlman</dt>
  <dd>A giant owl-like creature.</dd>
</dl>

<p><code><strong>&lt;figure&gt; &lt;figcaption&gt;</strong></code> with an image</p>

<!-- Just an image -->
<figure>
  <img
  src="http://fpoimg.com/300x210?text=Preview"
  alt="A preview image">
</figure>

<!-- Image with a caption -->
<figure>
  <img
  src="http://fpoimg.com/300x210?text=Preview"
  alt="A preview image">
  <figcaption>A preview image</figcaption>
</figure>

<p><code><strong>&lt;figure&gt; &lt;figcaption&gt;</strong></code> with a code snippet</p>

<figure>
  <figcaption>Get browser details using <code>navigator</code>.</figcaption>
<pre>function NavigatorExample() {
  var txt;
  txt = "Browser CodeName: " + navigator.appCodeName + "; ";
  txt+= "Browser Name: " + navigator.appName + "; ";
  txt+= "Browser Version: " + navigator.appVersion  + "; ";
  txt+= "Cookies Enabled: " + navigator.cookieEnabled  + "; ";
  txt+= "Platform: " + navigator.platform  + "; ";
  txt+= "User-agent header: " + navigator.userAgent  + "; ";
  console.log("NavigatorExample", txt);
}</pre>
</figure>

<p><code><strong>&lt;figure&gt; &lt;figcaption&gt;</strong></code> with quotations</p>

<figure>
  <figcaption><cite>Edsger Dijkstra:</cite></figcaption>
  <blockquote>If debugging is the process of removing software bugs,
  then programming must be the process of putting them in.</blockquote>
</figure>

<p><code><strong>&lt;figure&gt; &lt;figcaption&gt;</strong></code> poems</p>

<figure>
<p style="white-space: pre;">Bid me discourse, I will enchant thine ear,
  Or like a fairy trip upon the green,
Or, like a nymph, with long dishevell'd hair,
  Dance on the sands, and yet no footing seen:
Love is a spirit all compact of fire,
  Not gross to sink, but light, and will aspire.</p>
  <figcaption><cite>Venus and Adonis</cite>, by William Shakespeare</figcaption>
</figure>

<p><code><strong>&lt;hr&gt;</strong></code></p>

<p>The first rule of Fight Club is: You do not talk about Fight Club.</p>

<hr>

<p>The second rule of Fight Club is: Always bring cupcakes.</p>

<p><code><strong>&lt;li&gt; &lt;ul&gt; &lt;ol&gt;</strong></code></p>

<ol>
  <li>first item</li>
  <li>second item, Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cupiditate consequuntur hic. Nisi hic dicta odit aperiam unde veritatis aut eius minima ratione repellat corporis, delectus, amet, officia repellendus? Ratione.</li>
  <li>third item</li>
</ol>

<ul>
  <li>first item</li>
  <li>second item, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi neque doloribus, officia porro obcaecati libero non hic repudiandae rem qui optio veniam consequatur placeat harum, doloremque et! Eaque, reprehenderit. Voluptatem.</li>
  <li>third item</li>
</ul>

<p><code><strong>&lt;main&gt;</strong></code> with <code><strong> &lt;p&gt;</strong></code></p>


<main role="main">
  <p>Geckos are a group of usually small, usually nocturnal lizards. They are found on every continent except Australia.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptate labore corporis in cumque! Non, et porro! Suscipit impedit vitae temporibus adipisci itaque minus sunt similique reprehenderit odio! Iure, cupiditate?</p>
</main>

<p><code><strong>&lt;pre&gt;</strong></code></p>

<pre>
  L          TE
    A       A
      C    V
       R A
       DOU
       LOU
      REUSE
      QUE TU
      PORTES
    ET QUI T'
    ORNE O CI
     VILISÉ
    OTE-  TU VEUX
     LA    BIEN
    SI      RESPI
            RER       - Apollinaire
</pre>
