@mixin heading($size, $top: 1, $bottom: 0) {
  margin-top: calc((#{map-get($base-line-height, min)} - #{$size}) + #{map-get($base-line-height, min)} * #{$top});
  font-size: $size;
  line-height: $size;

  @media screen and (min-width: $min-screen) {
    $baseline: calc-interpolation(
      $min-screen,
      map-get($base-line-height, min),
      $max-screen,
      map-get($base-line-height, max),
    );

    margin-top: calc((#{$baseline} - #{$size}) + #{$baseline} * #{$top});
  }

  @media screen and (min-width: $max-screen) {
    margin-top: calc((#{map-get($base-line-height, max)} - #{$size}) + #{map-get($base-line-height, max)} * #{$top});
  }

  @include interpolate(
    margin-bottom,
    $min-screen,
    $max-screen,
    map-get($base-line-height, min),
    map-get($base-line-height, max, ),
    $bottom
  );
}
