@import 'module';

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

abbr {
  font-variant: all-small-caps;

  &[title] {
    cursor: help;
  }
}

code,
kbd,
samp,
var {
  padding: 0.09rem 0.1rem 0;

  @extend small;

  line-height: 1;
}

b,
strong,
time,
var {
  font-weight: $bold-font-weight;
}

kbd {
  @extend %solid-1px-border;
}

mark {
  padding: 0.05rem;

  // Accessibility, for screen readers…
  &::before,
  &::after {
    @extend %visually-hidden;
  }

  &::before {
    content: " [highlight start] ";
  }

  &::after {
    content: " [highlight end] ";
  }
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

s {
  // Accessibility, for screen readers…

  &::before,
  &::after {
    @extend %visually-hidden;
  }

  &::before {
    content: " [start of stricken text] ";
  }

  &::after {
    content: " [end of stricken text] ";
  }
}

small {
  @include interpolate(
    font-size,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($small-font-size, min),
    map-get($small-font-size, max)
  );
}

u {
  text-decoration-color: inherit;
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

var {
  font-family: monospace;
}

@import 'states';
