// Font Themes

$default-font-theme: (
  'light': (
    'heading': (
      'family': 'Lato, sans-serif',
      'normal': 400,
    ),
    'body': (
      'family': 'Merriweather, serif',
      'normal': 400,
      'bold': 700,
    ),
    'code': (
      'family': 'monospace',
      'normal': 400,
      'bold': 700,
    ),
  ),
  'dark': (
    'heading': (
      'family': 'Libre Baskerville, serif',
      'normal': 400,
      'bold': 700,
    ),
    'body': (
      'family': 'Open Sans, sans-serif',
      'normal': 400,
      'bold': 700,
    ),
    'code': (
      'family': 'monospace',
      'normal': 400,
      'bold': 700,
    ),
  )
);

// Color Themes

$white: shade(#fff, 1);
$black: tint(#000, 3);
$gray: tint($black, 10);
$light-gray: tint(#000, 18);
$red: #c80a0a;
$green: #297F2D;
$light-green: #2CA12E;

$default-color-theme: (
  'light': (
    'primary': (
      'selection': $black,
      'border': $black,
      'background': $white,
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $black
    ),
    'secondary': (
      'selection': $black,
      'border': $gray,
      'background': $light-gray,
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $black
    ),
    'accent': (
      'selection': $red,
      'border': $red,
      'background': $red,
      'text': $red,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $red
    ),
    'disabled': (
      'selection': $gray,
      'border': $gray,
      'background': $white,
      'text': $gray,
      'text-reversed': $gray,
      'shadow': $black,
      'outline': $red
    ),
    'hover': (
      'selection': $black,
      'border': $black,
      'background': $black,
      'text': $white,
      'text-reversed': $black,
      'shadow': $black,
      'outline': $red
    ),
    'active': (
      'selection': $black,
      'border': $red,
      'background':$red,
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $red
    ),
    'focus': (
      'selection': $red,
      'border': $red,
      'background': $white,
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $red
    ),
    'error': (
      'selection': $black,
      'border': $red,
      'background': tint($red, 18),
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $black
    ),
    'success': (
      'selection': $black,
      'border': $green,
      'background': tint($green, 18),
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $red
    ),
  ),
  'dark': (
    'primary': (
      'selection': $white,
      'border': $white,
      'background': $black,
      'text': $white,
      'text-reversed': $black,
      'shadow': $black,
      'outline': $white,
    ),
    'accent': (
      'selection': $red,
      'border': $red,
      'background': $red,
      'text': $red,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $red
    ),
    'disabled': (
      'selection': $gray,
      'border': $gray,
      'background': $black,
      'text': $gray,
      'text-reversed': $gray,
      'shadow': $black,
      'outline': $red
    ),
    'hover': (
      'selection': $white,
      'border': $white,
      'background': $white,
      'text': $white,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $red
    ),
    'active': (
      'selection': $white,
      'border': $red,
      'background':$red,
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $red
    ),
    'focus': (
      'selection': $red,
      'border': $red,
      'background': $white,
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $red
    ),
    'error': (
      'selection': $black,
      'border': $red,
      'background': tint($red, 15),
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $black
    ),
    'success': (
      'selection': $black,
      'border': $light-green,
      'background': tint($light-green, 18),
      'text': $black,
      'text-reversed': $white,
      'shadow': $black,
      'outline': $red
    ),
  ),
);

// Tip: swap out $default-color-theme with another map with the same shape
$color-theme: $default-color-theme;
// Tip: swap out $default-font-theme with another map with the same shape
$font-theme: $default-font-theme;
