::selection {
  background-color: map-get($color-base, selection);
  color: #fff;
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
  &:hover {
    background-color: #fff;
  }

  &:active {
    background-color: #f5f5f5;
  }

  &:focus {
    outline: 2px dashed map-get($color-base, selection);
  }
}
