%visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
};

%solid-1px-border {
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;
}
