@import 'module';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include interpolate(
    font-size,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-font-size, min),
    map-get($base-font-size, max)
  );
}

body {
  @include interpolate(
    line-height,
    map-get($breakpoints, sm),
    map-get($breakpoints, xlg),
    map-get($base-line-height, min),
    map-get($base-line-height, max)
  );
}

@import 'theme';
@import 'heading/styles';
@import 'text/styles';
@import 'form/styles';
@import 'table/styles';
@import 'media/styles';
@import 'interactive/styles';
