// portrait phones 0-666
// landscape phones 667-1023
// landscape tablets to desktop 1024 - 1279
// large desktop 1280-1919
// hd desktop 1920+

$breakpoints: (
  sm: 41.6875rem,
  md: 64rem,
  lg: 80rem,
  xlg: 120rem
);

// Typography

$font-family: sans-serif;
$normal-font-weight: 400;
$bold-font-weight: 600;
$ratio: 1.25;

$base-font-size: (
  min: 1rem, // 16
  max: $ratio * 1rem // 20
);
$baseline-height: (
  min: 1.3125rem, // 21 = 16 * 1.3125
  max: 1.4rem // 28 = 20 * 1.4
);
$small-font-size: (
  min: 0.875rem, // 14
  max: 0.8rem // 16
);

$h1: map-get($base-font-size, min) * $ratio * $ratio * $ratio * $ratio * $ratio * $ratio;
$h2: map-get($base-font-size, min) * $ratio * $ratio * $ratio * $ratio * $ratio;
$h3: map-get($base-font-size, min) * $ratio * $ratio * $ratio * $ratio;
$h4: map-get($base-font-size, min) * $ratio * $ratio * $ratio;
$h5: map-get($base-font-size, min) * $ratio * $ratio;
$h6: map-get($base-font-size, min) * $ratio;

// Borders

$border-radius: 3px;
